<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <!--存储图像或者视频权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:exported="true"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true">
        <activity
            android:exported="true"
            android:name=".ui.EasyPhotosActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/EasyPhotosTheme" />
        <activity
            android:exported="true"
            android:name=".ui.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/EasyPhotosFullscreenTheme" />
        <activity
            android:exported="true"
            android:name=".ui.PuzzleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/EasyPhotosTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:exported="true"
            android:name=".ui.PuzzleSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/EasyPhotosTheme" />
    </application>
</manifest>